.kpi{
    padding: 12px;
    margin: 8px;
    background: rgba(188, 188, 188, 0.3);
    border-radius: 15px;
    border: 1px solid rgb(207, 207, 207);
}
.kpi>.column{
    margin-left: 15px;
}
.negative{
    color: rgb(7, 213, 7);
}
.positive {
    color: rgb(255, 35, 35);
}
